.rememberMe{
    margin-left: 0 !important;
    margin-top: 10px;
}
.button {
    margin-top: 18px !important;
    height: 40px;
    border-radius: 5px !important;
    background-color: #3f51b5 !important;
    color: white !important;
}